* {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
}

.sidebar {
    flex-shrink: 0;
    width: 40%;
    height: 100%;
    position: relative;
}

.sidebar-title {
    display: flex;
    background-color: rgba(0, 0, 0, 0.178);
    height: 15%;
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.sidebar-title img {
    height: 95%;
}

.sidebar-title h1 {
    margin: 0;
    color: white;
    font-size: 68px;
    text-align: center;
}

.sidebar p {
    color: white;
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

.sidebar a {
    color: white;
    text-decoration: underline;
}

.background-image {
    background-image: url(./images/maria-vojtovicova-_HsNZhNDVOw-unsplash.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.content-top,
.content-middle,
.content-bottom {
    padding-left: 48px;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.content-top,
.content-bottom {
    height: 35%;
    background-color: rgb(250, 250, 250);
}

.content-middle {
    height: 30%;
    background-color: rgb(255, 255, 255);
}

.content-top {
    justify-content: space-around;
    padding-right: 25%;
}

.content-top h2 {
    font-size: 1.75em;
}

.content-top h2:first-of-type {
    margin-top: 100px;
}

.content-top h2:last-of-type {
    margin-bottom: 40px;
}