* {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
}

.sidebar {
    flex-shrink: 0;
    width: 40%;
    height: 100%;
    position: relative;
}

.sidebar-title {
    display: flex;
    background-color: rgba(0, 0, 0, 0.178);
    height: 15%;
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.sidebar-title img {
    height: 95%;
}

.sidebar-title h1 {
    margin: 0;
    color: white;
    font-size: 68px;
    text-align: center;
}

.sidebar p {
    color: white;
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

.sidebar a {
    color: white;
    text-decoration: underline;
}

.background-image {
    background-image: url(./images/maria-vojtovicova-_HsNZhNDVOw-unsplash.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.content-top,
.content-middle,
.content-bottom {
    padding-left: 48px;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.content-top,
.content-bottom {
    height: 35%;
    background-color: rgb(250, 250, 250);
}

.content-middle {
    height: 30%;
    background-color: rgb(255, 255, 255);
}

.content-top {
    justify-content: space-around;
    padding-right: 25%;
}

.content-top h2 {
    font-size: 1.75em;
}

.content-top h2:first-of-type {
    margin-top: 100px;
}

.content-top h2:last-of-type {
    margin-bottom: 40px;
}

.content-middle h2 {
    font-size: 1.75em;
    padding-top: 32px;
}

input {
    appearance: none;
    width: 250px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 10px;
    font-size: 16px;
}

input:focus-visible {
    box-shadow: 2px 2px 5px rgb(137, 137, 137);
    outline: 2px solid rgb(124, 124, 217);
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 64px;
    padding-top: 16px;
}

label {
    display: block;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 14px;
}

.content-bottom {
    gap: 48px;
}

.content-bottom button {
    margin-top: 40px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(48, 131, 204);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}

.content-bottom p {
    font-size: 20px;
}
 
.content-bottom p a {
   text-decoration: none; 
   color: rgb(48, 131, 204);
}